@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header, main {
    margin: auto;
    max-width: 1000px;
}

main {
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    min-height: 500px;
    padding: 50px;
}

main section {
    margin: auto;
    max-width: 350px;
}

table {
    border-collapse: collapse;
    display: block;
    margin: auto;
    padding: 10px;
}

th, td {
    border: 1px solid black;
    padding: 5px 15px;
}